@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75vw;
  height: 5vh;
  background-color: white;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: -100vw 0 0 100vw #00bf63;
}

@keyframes alert {
  from {opacity: 1}
  to {opacity: 0}
}

.alert {
  animation: alert 2s 3s forwards;
}