@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #303030;
  --menuBorder: #f0f0f0;
  --fontColor: #f7f7f7;
  --menuHover: #999999;
  --chatBackground: #424242;
  --chatFontColor: #e3e3e3;
  --chatMessageUserName: white;
  --chatMessageTime: #b9b9b9;
  --chatMessageInputBackground: #3a3a3a;
  --chatMessageInputBorder: #cecece;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--fontColor);
  font-family: Arial;
}