/* MENU */

#menu {
  height: 12.5vh;
}

#title {
  font-family: var(--font-apes-title);
  letter-spacing: 0.25rem;
}

.menuSection div {
  border-inline: 0.125rem solid var(--menuBorder);
  padding: 0.25rem 1rem;
  height: 100%;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuSection div:hover:not(#title, #coins) {
  cursor: pointer;
  border-color: var(--menuHover);
  color: var(--menuHover);
}

.menuSection div:hover:not(#title) {
  border-color: var(--menuHover);
  color: var(--menuHover);
}

.menuSection a {
  color: var(--fontColor);
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
}

.menuSection a:hover {
  color: var(--menuHover);
}

#coins {
  font-family: titleFont;
  color: var(--fontColor);
}

#profile {
  border: 0;
}

#site {
  height: 82.5vh;
}

/* CHAT */

#chat {
  overflow-y: auto;
}

.chatMessageUsername {
  color: var(--chatMessageUserName);
}

.chatMessageTime {
  color: var(--chatMessageTime);
}

.chatMessageContent {
  color: var(--chatFontColor);
}

#chatSendMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
}

#messageInput {
  background-color: var(--chatMessageInputBackground);
  color: var(--fontColor);
}

#sendMessage {
  background-color: #ddce77;
  width: 12.5%;
  color: #252525;
  border-color: #252525;
}

#sendMessage:hover {
  background-color: #bdae5a;
  cursor: pointer;
}

/* NAV */

#nav div {
  background-color: #bbb074;
}